@tailwind base;
@tailwind components;
@tailwind utilities;


  .formulario-contato {
    max-width: 496px;
    min-width: 380px;
    width: 100%;
  }

  form.fundo-cinza input,form.fundo-cinza select {
    background-color: #f1f1f1;
    padding-left: 10px;
    padding-top: 10px;
  }

  form.datavalid input {
    padding-top: 20px;
  }

  

form.fundo-cinza textarea {
    background-color: #f1f1f1;
    height: 165px;

    margin-top: 20px;
}

form.fundo-cinza input::placeholder {
    color: #606060;
    font-size: 12px;
}

form.fundo-cinza textarea::placeholder {
    color: black;
    font-weight: 500;
    font-size: 20px;
}

form.fundo-cinza select {
    color: #606060;
    /* font-weight: 500; */
    font-size: 16px;
}

form.fundo-cinza textarea {
    color: black;
    font-weight: 500;
    font-size: 16px;
}

select.primeiro-item-cinza option:first-child {
  color: #aaa; /* Cor do texto do primeiro item */
}

form label[for] {
  color: rgb(104, 102, 102);
  position: absolute;
  top: 0px;
  left: 5px;
  font-size: small;
  opacity: 1;
  z-index: 2;
}

form.datavalid select option:first-child  {
  color: rgb(104, 102, 102); 
  position: relative;
  top: -20px; 
  font-size: small;
}

input[type="file"] {
  color: transparent;
  display: none;
}

.input-imagem {
  display: inline-block;
  background: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.input-imagem {
  width: 100%;
  height: 45px !important;
  padding: 14px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  @apply bg-cor-tercearia;
  color: #fff !important;
  width: 120px;
  font-weight: 700;
}

.input-imagem:focus {
  border-color: #007bff;
  outline: none;
}

.label-imagem {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 5px;
  display: block;
}

.input-imagem::-webkit-file-upload-button {
  @apply bg-cor-tercearia;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.input-imagem::-moz-file-upload-button {
  @apply bg-cor-tercearia;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.input-imagem::file-selector-button {
  @apply bg-cor-tercearia;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.react-datepicker-popper {
  z-index: 9999 !important;
}

.link {
  @apply text-black;
  @apply hover:text-amarelo;
  @apply font-semibold;
  @apply ml-10 mr-10;
}
.link-img
{
  @apply text-black;
  @apply hover:text-cor-tercearia;
  @apply font-semibold;
  @apply ml-2;
}

.menu-li {
  @apply flex;
  @apply items-center;
  @apply py-2;
  @apply hover:bg-gray-700;
  @apply cursor-pointer;
  @apply m-auto;
  @apply mt-3;
}

.card-inicio {
  @apply flex;
  @apply flex-col;
  @apply space-y-6;
  @apply m-auto;
  @apply w-[380px];
  @apply place-items-center;
  @apply py-5;
}

.card-inicio .card-item {
  @apply w-2/3;
  @apply max-w-[350px];
  @apply h-fit;
  @apply rounded-sm;
  @apply bg-cinza;
  @apply py-3;
  @apply px-2;
  @apply cursor-pointer;
}

.card-inicio .card-item:hover {
  @apply bg-[#606050];
}

/* .card-inicio .card-item:hover >.card-titulo {
  @apply text-[#ED6E33];
} */


.card-inicio .card-titulo {
  @apply align-middle;
  @apply m-auto;
  @apply text-white;
  @apply text-center;
  @apply font-Inter;
}
.card-inicio .card-subtitulo {
  @apply align-middle;
  @apply m-auto;
  @apply text-sm;
  @apply text-cinza2;
  @apply text-center;
  @apply font-Inter;
  @apply italic;
  @apply py-2;
}

select {
  @apply h-[50px];
}